.note {
  position: absolute;

  transform: scale(0.15) rotate(-15deg);
  width: 30vw;
  aspect-ratio: 1/1.1;
  background-color: rgb(245, 199, 99);
  transition: 1s;
  z-index: 2;
  color: #333;
  cursor: default;
  .note-inside {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    font-family: "Lobster", cursive;
    padding: 20px 40px;
    .title {
      text-align: center;
    }
    .note-item {
      display: flex;
      align-items: center;
      position: relative;
      h1 {
        font-size: 30px;
        margin: 10px 0;
        margin-right: 10px;
      }
      p {
        margin-top: 30px;
        font-size: 14px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
      }
      .copy {
        position: absolute;
        right: 0;
        cursor: pointer;
        transition: 0.2s;
        padding: 5px;
        border-radius: 5px;
        font-weight: 800;
        &::after {
          content: "Copy";
          position: absolute;
          font-size: 15px;
          font-family: Arial, Helvetica, sans-serif;
          padding: 5px 10px;
          border-radius: 5px;
          top: -10px;
          left: 50%;
          background-color: #fff;
          transition: 0.3s;
          transform: translate(-50%) scale(0);
          opacity: 0;
        }
        &:hover {
          background-color: rgb(4, 113, 255);
          color: #fff;
          &::after {
            content: "Copy";
            top: -30px;
            transform: translate(-50%) scale(1);
            color: #000;
            opacity: 1;
          }
        }
      }
    }
    hr {
      margin-top: 20px;
      color: #000;
      border: solid 1px rgba(0, 0, 0, 0.438);
    }
    .buttons {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .resume-button {
        width: 160px;
        background-color: transparent;
        text-decoration: none;
        color: #333;
        border: 2px solid #333;
        border-radius: 25px;
        font-family: cursive, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        padding: 7px 15px;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.507);
        }
      }
    }
    .note-links {
      position: absolute;
      width: 100%;
      bottom: 20px;
      left: 0;
      display: flex;
      justify-content: center;
      a {
        margin: 20px;
        i {
          text-decoration: none;
          color: #333;
          font-size: 50px;
          transition: 0.2s;
          &:hover {
            color: rgb(112, 2, 255);
          }
        }
      }
    }
  }
}

p::selection {
  background-color: #fff;
}
.table {
  .note {
    &.scale {
      top: 20%;
      left: -5%;
      .note-inside {
        font-size: 1.1vw;
        .note-item {
          h1 {
            font-size: 2vw;
          }
          p {
            font-size: 1vw;
          }
        }
        .buttons {
          .resume-button {
            font-size: 0.5vw;
          }
        }
        .note-links {
          a {
            margin: 1.5vw;
            i {
              font-size: 3vw;
            }
          }
        }
      }
    }
    &.noScale {
      margin-top: 20px;
      top: 40vh;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 450px;
      * {
        transition: 0.1s;
      }
    }
  }
}
