.project {
  width: 100%;
  border-radius: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  overflow: hidden;
  transition: 0.3s;
  border: 3px solid #fff;
  margin-bottom: 20px;

  .bottom {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    h1 {
      margin: 0;
      font-size: 18px;
      font-weight: 800;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .buttons {
        display: flex;
        justify-content: space-between;
        width: 50%;
        a {
          text-decoration: none;
          text-align: center;
          padding: 5px 14px;
          color: #fff;
          font-size: 15px;
          border: 2px transparent solid;
          background-color: rgb(0, 102, 255);
          border-radius: 5px;
          transition: 0.2s;
          letter-spacing: 1px;
          &:hover {
            border: 2px rgb(0, 81, 255) solid;
            background-color: #fff;
            color: rgb(0, 81, 255);
          }
        }
      }
    }
    p {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 0;
      font-weight: 600;
      color: #666;
    }
  }
}
.soon {
  margin-bottom: 40px;
  text-align: center;
}
.with-mentor {
  .bottom {
    h1 {
      .buttons {
        a {
          background-color: rgb(164, 55, 207);
          &:hover {
            border: 2px rgb(164, 55, 207) solid;
            color: rgb(164, 55, 207);
          }
        }
      }
    }
  }
}
