@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.menu-button {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 50px;
  text-align: center;
  border-radius: 3px;
  font-size: 40px;
  transition: 0.3s;
  z-index: 5;
  &.show {
    background-color: $purple;
  }
  i {
    transition: 0.3s;
    cursor: pointer;
  }
  .menu {
    position: absolute;
    right: -250px;
    width: 200px;
    border-radius: 3px;
    margin-top: -5px;
    font-size: 20px;
    h3 {
      position: relative;
      right: 0;
      text-align: center;
      color: #000;
      background-color: $white;
      margin: 15px 0;
      line-height: 50px;
      border-radius: 30px 5px 5px;
      scale: 1;
      font-family: "lobster", sans-serif;
      font-weight: 400;
      letter-spacing: 2px;
      transition: 0.4s;
      cursor: default;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144);
      &.show {
        right: 250px;
        scale: 1;
      }
    }
    ul {
      padding-left: 0;
      .list-item {
        position: relative;
        text-decoration: none;
        color: #000;
        border-radius: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        height: 40px;
        padding: 5px 10px;
        background-color: $white;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        right: 0;
        transition: 0.4s;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144);
        scale: 1;
        cursor: pointer;
        &.show {
          right: 250px;
          scale: 1;
          .icon-holder {
            rotate: 360deg;
            scale: 1;
          }
        }
        &:hover {
          transition: 0.2s;
          color: $white;
          background-color: rgba(139, 37, 255, 0.486);
          .icon-holder {
            i {
              color: $white;
            }
          }
        }
        .icon-holder {
          @include flexCenter;
          width: 30px;
          height: 30px;
          transition: 0.8s;
          scale: 0.2;
          margin-right: 5px;
          i {
            color: $purple;
            font-size: 20px;
          }
        }
      }
    }
  }
}
