::-webkit-scrollbar {
  display: none;
}

.phone {
  position: absolute;
  transform: scale(0.15) rotate(15deg);
  width: 30vw;
  aspect-ratio: 3/5.7;
  border-radius: 40px;
  border: 14px solid rgb(255, 255, 255);
  transition: 1s;
  z-index: 3;
  cursor: default;

  .phone-left-shine,
  .phone-right-shine {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
    top: 20px;
    left: -11px;
    width: 1px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.308);
    height: calc(100% - 40px);
  }
  .phone-right-shine {
    left: unset;
    right: -11px;
  }
  .phone-inside {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: url(../../images/phone-wallpaper.jpg);
    background-size: cover;

    .background-darkening-phone {
      overflow: hidden;
      position: absolute;
      border-radius: 30px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.493);
    }

    .top-curve {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 45%;
      height: 30px;
      border-radius: 0 0 15px 15px;
      background-color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 2;
      .camera {
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius: 50%;
      }
      .microphone {
        width: 80px;
        height: 10px;
        background-color: #000;
        border-radius: 20px;
      }
    }

    .screen {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      .top {
        width: 100%;
        height: 30px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .signal-icons {
          width: 80px;
          display: flex;
          justify-content: space-between;
        }
        .time {
          font-size: 18px;
          font-weight: 800;
          position: relative;
          &::after {
            content: "Time";
            position: absolute;
            top: -30px;
            left: 0;
            padding: 5px 15px;
            transform: scale(0);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            color: #000;
            border-radius: 10px;
            transition: 0.4s;
            opacity: 0;
          }
          &:hover {
            &::after {
              transform: scale(1) translateY(-30px);
              opacity: 1;
            }
          }
        }
      }
      .screen-content {
        width: 100%;
        height: 96.3%;
        padding: 20px;
        transition: 0.5s;
        overflow: scroll;
        .project {
          .top {
            width: 100%;
            height: auto;
            padding: 0;
            overflow: hidden;
            img {
              width: 100%;
              transition: 0.7s;
            }
          }
        }
        .projects {
          margin-top: 0;
          margin-bottom: 20px;
          border-radius: 10px;
          padding: 10px;
          text-align: center;
          font-weight: 800;
          background-color: rgba(131, 131, 131, 0.336);
          border: 5px solid #fff;
          color: #fff;
        }
      }
    }
  }
}
.noScale {
  top: 45vh;
  left: 50%;
  width: 450px;
  transform: translate(-50%, -50%);
}
