.phone {
  ::-webkit-scrollbar {
    display: none;
  }
  position: absolute;
  transform: scale(0.15) rotate(15deg);
  width: 26vw;
  aspect-ratio: 3/5.7;
  border-radius: 40px;
  border: 14px solid rgb(255, 255, 255);
  transition: 1s;
  z-index: 3;
  cursor: default;

  .phone-left-shine,
  .phone-right-shine {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
    top: 20px;
    left: -11px;
    width: 1px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.308);
    height: calc(100% - 40px);
  }
  .phone-right-shine {
    left: unset;
    right: -11px;
  }
  .phone-inside {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: url(../../images/phone-wallpaper.jpg);
    background-size: cover;

    .background-darkening-items {
      overflow: hidden;
      position: absolute;
      border-radius: 30px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.493);
    }

    .top-curve {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 45%;
      height: 30px;
      border-radius: 0 0 15px 15px;
      background-color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: 1s;
      z-index: 2;
      .camera {
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius: 50%;
      }
      .microphone {
        width: 80px;
        height: 10px;
        background-color: #000;
        border-radius: 20px;
      }
    }

    .screen {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      .top {
        width: 100%;
        height: 30px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .signal-icons {
          span {
            font-size: 20px;
            margin-right: 5px;
          }
        }
        .time {
          font-size: 18px;
          font-weight: 800;
          position: relative;
          padding: 5px;
          .full-time {
            position: absolute;
            width: 140px;
            top: -30px;
            left: 50%;
            translate: -50%;
            padding: 5px 15px;
            background-color: #fff;
            color: #000;
            border-radius: 5px;
            transition: 0.4s;
            transform: scale(0);
            opacity: 0;
          }
          &:hover {
            .full-time {
              transform: scale(1) translateY(-20px);
              opacity: 1;
            }
          }
        }
      }
      .screen-content {
        width: 100%;
        height: 96.3%;
        padding: 20px;
        padding-top: 0;
        transition: 0.5s;
        overflow-x: hidden;
        .project {
          .top {
            width: 100%;
            height: 200px;
            padding: 0;
            overflow: hidden;
            border-bottom: 1px solid rgb(194, 194, 194);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.7s;
            }
          }
        }
        .projects-title {
          font-size: 30px;
          padding: 15px;
          margin-left: -10%;
          margin-bottom: 20px;
          width: 120%;
          border-radius: 5px;
          text-align: center;
          background-color: rgb(105, 0, 224);
          box-shadow: 0 10px 20px rgba(104, 0, 224, 0.534);
        }
      }
    }
  }
}
.scale {
  top: calc(85% - 27vw);
  left: 65%;
  top: 10%;
  min-width: 200px;
  .screen-content {
    filter: brightness(0.6);
  }
}
.noScale {
  top: 45vh;
  left: 50%;
  width: 450px;
  transform: translate(-50%, -50%);
  .project {
    .top {
      img:hover {
        transform: scale(1.05);
        filter: brightness(0.8);
      }
    }
  }
}
