.sound-buttons {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 130px;
  display: flex;
  height: fit-content;
  z-index: 4;
  justify-content: space-between;
  .playMusic,
  .playSound {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(112, 2, 255);
    transition: 0.2s;
    border: 3px solid #000;
    cursor: pointer;
    i {
      transition: 0.2s;
      font-size: 25px;
    }
    &:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.555);
      border-color: rgba(255, 255, 255, 0.493);
      i {
        color: #fff;
      }
    }
  }
}
