@import "./variables.scss";
@import "./mixins.scss";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  color: #fff;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  &::-webkit-scrollbar-thumb {
    background-color: $purple;
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-radius: 20px;
  }
  &::-webkit-scrollbar {
    background-color: rgb(43, 0, 92);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.473);
  }
}
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-dark {
  position: fixed;
  top: -100%;
  left: -100%;
  width: 400%;
  height: 400%;
  background-color: rgba(0, 0, 0, 0.329);
  z-index: 5;
  animation: showBg 0.7s;
  @keyframes showBg {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

// All Media Queries
@media (orientation: landscape) {
  @keyframes light-change {
    0% {
      box-shadow: 200px 200px 500px 300px rgba(255, 255, 255, 0.788);
    }
    100% {
      box-shadow: 450px 350px 500px 400px rgba(255, 255, 255, 0.788);
    }
  }
}
@media (min-width: 2000px) {
  .app {
    .office {
      .table {
        .monitor {
          .monitor-screen {
            height: 48%;
            transform: translate(-50%, -50%) perspective(400px) rotateX(-33deg);
          }
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .app {
    .office {
      .table {
        .monitor {
          .monitor-screen {
            height: 63%;
            transform: translate(-50%, -50%) perspective(400px) rotateX(-53deg);
          }
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  .app {
    .office {
      .office-inside {
        .table {
          .phone {
            &.scaleDown {
              .phone-inside {
                .screen-content {
                  height: 95%;
                }
              }
            }
          }

          .speaker {
            &::before {
              border-radius: 8px;
              width: 50%;
              top: 36%;
              left: 20%;
              box-shadow: 20px -1px 10px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .speaker-left {
            &::before {
              box-shadow: 20px 5px 10px 10px rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .app {
    .office {
      .office-inside {
        .chair {
          .secret-msg {
            font-size: 50%;
          }
          &:hover {
            transform: translate(15px, 70px) rotate(-20deg);
          }
        }
        .table {
          .monitor {
            margin-top: 40px;
            &::before {
              width: 220px;
              box-shadow: -60px 30px 45px 30px rgba(0, 0, 0, 0.744);
            }
            .monitor-screen {
              height: 85%;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-58deg);
            }
          }

          .mouse {
            &::before {
              box-shadow: 2px 2px 5px 7px rgba(0, 0, 0, 0.844);
            }
          }
          .speaker {
            left: 90%;
            &::before {
              border-radius: 5px;
              width: 50%;
              top: 36%;
              left: 20%;
              box-shadow: 15px -1px 5px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .speaker-left {
            left: 10%;
            transform: rotate(-15deg) translateX(-50%);
            &::before {
              box-shadow: 15px 3px 5px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .phone,
          .note,
          .book,
          .peper {
            &.scaleDown {
              .phone-inside {
                .top-curve {
                  height: 10px;
                  .camera {
                    width: 4px;
                  }
                  .microphone {
                    height: 5px;
                    width: 40%;
                  }
                }
                .screen-content {
                  height: 90%;
                }
              }
              .note-inside {
                font-size: 0.8vw;
                i {
                  font-size: 20px;
                }
              }
            }
          }
          .phone {
            &.scaleDown {
              border: 8px solid rgba(255, 255, 255, 0.733);
              border-radius: 25px;
              .phone-inside {
                color: rgba(255, 255, 255, 0);
                .screen-content {
                  padding: 5px;
                }
                .projects-title {
                  color: #fff;
                  font-size: 25px;
                  margin: 0 -20px;
                }
                .project {
                  margin: 5px;
                  h1 {
                    font-size: 10px;
                  }
                  a,
                  p {
                    font-size: 6px;
                  }
                  a {
                    width: 6 55px;
                  }
                }
              }
            }
          }
          .book {
            &.scaleDown {
              .book-inside {
                h1 {
                  font-size: 5vw;
                  margin: 2vw;
                }
                .skills-list {
                  margin-top: 5px;
                  padding: 5px;
                  span {
                    height: 6vw;
                    i {
                      font-size: 4vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .app {
    .office {
      &::after {
        left: 300px;
        top: -450px;
      }
      .office-inside {
        .chair {
          left: 13% !important;
          .secret-msg {
            font-size: 40%;
          }
          .secret-on {
            &:hover {
              transform: translate(20px, 30px) scale(3) rotate(20deg);
            }
          }
        }
        .table {
          box-shadow: 40px 30px 20px rgba(0, 0, 0, 0.61);
          animation: none;
          .monitor {
            &::before {
              width: 200px;
              box-shadow: -50px 30px 30px 30px rgba(0, 0, 0, 0.644);
            }
            .monitor-screen {
              height: 120% !important;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-68deg) !important ;
            }
            video {
              transform: rotateX(5deg);
            }
          }
          .keyboard {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
          }
          .mouse {
            &::before {
              box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.844);
            }
          }
          .speaker {
            &::before {
              border-radius: 5px;
              left: 5%;
              width: 40%;
              box-shadow: 30px -1px 5px 10px rgba(0, 0, 0, 0.7);
            }
            .sound-wave {
              .circle {
                top: 70%;
                height: 30px;
              }
            }
          }
          .speaker-left {
            &::before {
              top: 30%;
              left: 15%;
              box-shadow: 20px 7px 5px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .book {
            &.scaleDown {
              .book-inside {
                h1 {
                  font-size: 20px;
                }
                .skills-list {
                  span {
                    height: 40px;
                    i {
                      font-size: 25px;
                    }
                  }
                }
                p {
                  font-size: 7px;
                }
              }
            }
          }
          .note {
            &.scaleDown {
              .note-inside {
                font-size: 0.7vw;
                .note-item {
                  .copy {
                    font-size: 2vw;
                  }
                  h1 {
                    font-size: 15px;
                  }
                  p {
                    font-size: 5px;
                  }
                }
                .note-links {
                  a {
                    margin: 1.2vw;
                    i {
                      font-size: 2.5vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 560px) {
  .app {
    .office {
      .office-inside {
        .chair {
          left: 7% !important;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .app {
    .sound-buttons {
      top: 20px;
      left: 20px;
      width: 110px;
      .playMusic,
      .playSound {
        width: 50px;
        height: 50px;
        i {
          font-size: 20px;
        }
      }
    }
    .office {
      &::after {
        left: 200px;
        top: -550px;
      }
      .office-inside {
        .chair {
          width: 30vw;
          top: 50% !important;
          left: 0% !important;
        }
        .table {
          .monitor {
            .monitor-screen {
              height: 125% !important;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-70deg) !important ;
            }
            video {
              transform: scaleY(1.2);
            }
          }
          .phone,
          .note,
          .book,
          .paper {
            .item-title {
              font-size: 60px;
            }
            &:hover {
              .item-title {
                top: -150px;
              }
            }
          }
          .phone {
            &.noScaleDown {
              transform: scale(0.6) translate(-80%, -83%) rotate(-90deg) !important;
            }
          }
          .note {
            &.noScaleDown {
              transform: scale(0.6) translate(-80%, -80%) rotate(-90deg) !important;
            }
          }
          .book,
          .paper {
            &.noScaleDown {
              transform: scale(0.6) translate(-80%, -82%) rotate(-90deg) !important;
              .pen {
                left: 90%;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .app {
    .office {
      .office-inside {
        .chair {
          left: -5% !important;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .app {
    .office {
      .office-inside {
        .chair {
          left: -12% !important;
        }
      }
    }
  }
}
@media (orientation: portrait) and (max-width: 1024px) and (min-width: 768px) {
  .app {
    .office {
      &::after {
        left: 400px;
        top: -450px;
      }
    }
  }
}
@media (orientation: portrait) {
  .app {
    .sound-buttons {
      left: 20px;
      top: 20px;
    }
    .menu-button {
      background-color: rgb(105, 0, 224);
      top: 20px;
      right: 20px;
      &.show {
        i {
          color: #fff;
        }
      }
    }
    .office {
      .office-inside {
        .chair {
          top: 50%;
          left: 15vw;
          transform: translate(20px, -50%) rotate(90deg);
          &:hover {
            transform: translate(-30px, -40%) rotate(70deg);
          }
        }
        .table {
          margin-right: 50px;
          width: 80vw;
          height: 40vw;
          top: 50%;
          transform: translate(10%, -70%) rotate(90deg);
          .monitor {
            .monitor-screen {
              height: 80%;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-62deg);
              h1 {
                font-size: 20px;
              }
            }
          }
          .phone,
          .note,
          .book,
          .paper {
            &:hover {
              box-shadow: 100px 100px 30px rgba(0, 0, 0, 0.3);
            }
            &.scale {
              box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
            }
          }
          .phone {
            &.noScaleDown {
              top: 60%;
              transform: scale(0.8) translate(-55%, -60%) rotate(-90deg);
            }
          }
          .note,
          .book,
          .paper {
            &.noScaleDown {
              top: 50%;
              transform: scale(0.8) translate(-55%, -60%) rotate(-90deg);
            }
          }
          .keyboard {
            left: 38%;
          }
          .mouse-pad {
            right: 32%;
          }
        }
      }
    }
  }
}
