.home {
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url(../../images/projects-background.jpg);
  background-size: cover;
  .top {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      0deg,
      transparent,
      rgb(137, 34, 255),
      rgb(54, 0, 90)
    );
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .my-name {
      display: flex;
      font-family: lobster, sans-serif;
      .my-name-letter {
        font-size: 50px;
        transition: 0.5s;
        transform: scale(0) translateY(-40px) rotate(-75deg);
        letter-spacing: 2px;
        opacity: 0;
        transform-origin: left;
        &:hover {
          scale: 1.3;
          cursor: default;
        }
        &.hidden {
          visibility: hidden;
          letter-spacing: 0;
          cursor: default;
        }
      }
    }
    .job-title {
      translate: 0 -30px;
      opacity: 0;
      cursor: default;
      animation: job-title-show 1s 2.2s forwards;
      @keyframes job-title-show {
        0% {
          translate: 0 -30px;
          opacity: 0;
        }
        100% {
          translate: 0 0;
          opacity: 0.8;
        }
      }
    }
  }
  .projects {
    width: 100%;
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .title {
      text-align: center;
      font-size: 40px;
      margin-bottom: 50px;
    }
    .projects-container {
      position: relative;
      width: 100%;
      height: 500px;
      .project {
        transform: perspective(100px);
        position: absolute;
        top: 0;
        left: 0;
        flex-shrink: 0;
        width: 300px;
        height: 500px;
        border: 2px solid rgba(255, 255, 255, 0.74);
        background-color: #fff;
        color: #000;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 10px;
        transition: 0.6s;
        &.in-the-side::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .top-image {
          width: 100%;
          height: 40%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .bottom {
          height: 60%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
          width: 100%;
          .buttons {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            .project-button {
              text-decoration: none;
              background-color: rgb(105, 0, 224);
              color: #fff;
              font-weight: 600;
              border: none;
              border-radius: 5px;
              padding: 8px;
              width: 50%;
              cursor: pointer;
              &:hover {
                background-color: rgb(137, 34, 255);
              }
            }
          }
        }
      }
    }
    .projects-circles {
      display: flex;
      align-items: center;
      margin-top: 20px;
      gap: 10px;
      .circle {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;
        &.active {
          background-color: rgb(130, 21, 255);
        }
      }
      .arrow {
        width: 50px;
        height: 50px;
        font-size: 30px;
        background-color: rgba(255, 255, 255, 0.733);
        border-radius: 50%;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.904);
        }
      }
    }
  }
}
