@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.home {
  width: 100%;
  height: 100vh;
  background-color: $white;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: default;
  &::-webkit-scrollbar-thumb {
    background-color: $purple;
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-radius: 20px;
  }
  &::-webkit-scrollbar {
    background-color: rgb(43, 0, 92);
  }
  .first-section {
    min-height: 100vh;
    background: $purpleDark;
    padding: 70px 0;
    .top {
      @include flexCenter;
      flex-direction: column;
      justify-content: start;
      height: 250px;
      margin-top: 50px;
      .my-name {
        display: flex;
        font-family: lobster, sans-serif;
        .my-name-letter {
          font-size: 50px;
          transition: 0.5s;
          transform: scale(0) translateY(-40px) rotate(-75deg);
          letter-spacing: 2px;
          opacity: 0;
          transform-origin: left;
          &:hover {
            scale: 1.3;
            cursor: default;
          }
          &.hidden {
            visibility: hidden;
            letter-spacing: 0;
            cursor: default;
          }
        }
      }
      .job-title-home {
        translate: 0 -30px;
        opacity: 0;
        cursor: default;
        animation: job-title-show 1s 2s forwards;
        @keyframes job-title-show {
          0% {
            translate: 0 -30px;
            opacity: 0;
          }
          100% {
            translate: 0 0;
            opacity: 0.8;
          }
        }
      }
    }

    .skills {
      width: 100%;
      @include flexCenter;
      flex-direction: column;
      h2 {
        margin-bottom: 50px;
        font-size: 30px;
        opacity: 0;
        transition: 0.5s;
        animation: showSkillsTitle 2s 2.5s forwards;
      }
      @keyframes showSkillsTitle {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      .skills-container {
        @include flexCenter;
        width: 90%;
        flex-wrap: wrap;
        .skill {
          width: 100px;
          height: 120px;
          transition: 0.5s;
          transform: scale(0.5) translateX(-30px) rotateY(90deg);
          text-align: center;
          i {
            font-size: 50px;
          }
          img {
            width: 50px;
            height: 46px;
          }
        }
      }
    }
  }
  .title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
  }
  .projects {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $purpleDark;
    @include flexCenter;
    flex-direction: column;
    .projects-container {
      position: relative;
      width: 100%;
      height: 100%;
      .project {
        translate: -50%;
        position: absolute;
        top: 0;
        left: 0;
        flex-shrink: 0;
        width: 300px;
        height: 500px;
        border: 2px solid rgba(255, 255, 255, 0.74);
        background-color: $white;
        color: #000;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 10px;
        transition: 0.6s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
        &.in-the-side::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .top-image {
          width: 100%;
          height: 30%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .bottom {
          height: 70%;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          text-align: center;
          width: 100%;
          .title {
            font-weight: 500;
          }
          .description {
            font-size: 15px;
          }
          .buttons {
            @include flexCenter;
            gap: 10px;
            .project-button {
              text-decoration: none;
              background-color: $purple;
              color: $white;
              font-weight: 600;
              border: none;
              border-radius: 5px;
              padding: 8px;
              width: 50%;
              cursor: pointer;
              &:hover {
                background-color: $purple;
              }
            }
          }
        }
      }
    }
    .projects-circles {
      @include flexCenter;
      position: absolute;
      top: 90%;
      margin-bottom: 100px;
      gap: 10px;
      .circle {
        width: 20px;
        height: 20px;
        border: 1px solid $white;
        background-color: $purple;
        border-radius: 50%;
        transition: 0.3s;
        z-index: 4;
        cursor: pointer;
        &.active {
          border-color: $white;
          background-color: $white;
        }
      }
      .arrow {
        @include flexCenter;
        width: 50px;
        height: 50px;
        font-size: 30px;
        background-color: $white;
        border-radius: 50%;
        color: $purple;
        z-index: 3;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
  .contact {
    padding: 50px 100px;
    text-align: center;
    background-color: $purpleDark;
    .container {
      @include flexCenter;
      flex-wrap: wrap;
      gap: 20px;
      .contact-details,
      .links {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 250px;
        padding: 20px 40px;
        border-radius: 5px;
        background-color: $white;
        color: #000;
      }
      .contact-details {
        justify-content: center;
        .detail {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          h3 {
            font-size: 20px;
            text-align: start;
            width: 150px;
            i {
              margin-right: 10px;
              color: $purple;
            }
          }
          a,
          span {
            font-weight: 600;
            color: #000;
          }
        }
      }
      .links {
        align-items: center;
        .title {
          font-size: 30px;
          margin: 10px;
          margin-bottom: 40px;
        }
        .links-container {
          display: flex;
          gap: 20px;
          .link {
            a {
              i {
                font-size: 40px;
                color: $purple;
                transition: 0.2s;
                &:hover {
                  filter: brightness(0.7);
                }
              }
            }
            h3 {
              margin: 10px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .home {
    .contact {
      .container {
        .contact-details {
          height: auto;
          .detail {
            flex-direction: column;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.247);
            h3 {
              text-align: center;
              width: 100%;
              i {
                font-size: 30px;
              }
              span {
                display: none;
              }
            }
          }
        }
        .contact-details,
        .links {
          min-width: 90vw;
        }
      }
    }
  }
}
