.office {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &::after {
    content: "";
    left: -450px;
    top: -450px;
    z-index: 4;
    position: absolute;
    border-radius: 50%;
    box-shadow: 300px 300px 500px 400px rgba(255, 255, 255, 0.788);
    animation: light-change 3s infinite alternate;
  }
  .office-inside {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    &.zoom {
      animation: zoom 2.5s;
    }
    .background {
      top: -220px;
      position: absolute;
      width: 165%;
      height: 150vh;
      background-image: url(../../images/floor.jpg);
      background-size: 35vw;
    }
  }

  @keyframes zoom {
    0% {
      transform: scale(0.6);
    }
    50% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(1);
    }
  }

  .background-darkening-floor {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.63),
      rgba(0, 0, 0, 0.884)
    );
  }
  .phone,
  .note,
  .book {
    .item-title {
      left: 50%;
      transform: translateX(-50%) scale(0.4);
      position: absolute;
      width: 100%;
      min-width: fit-content;
      padding: 20px 50px;
      top: -50px;
      background-color: #fff;
      border-radius: 20px;
      transition: 0.6s;
      font-size: 600%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      color: #000;
      opacity: 0;
    }
    box-shadow: 200px 200px 400px rgba(0, 0, 0, 0);
    &.scaleDown:hover {
      transform: scale(0.25) translate(20px, -30%) rotate(0deg);
      box-shadow: 200px 200px 80px rgba(0, 0, 0, 0.3);
      filter: brightness(1.2);
      z-index: 2;
      &.note,
      &.book {
        box-shadow: 200px 200px 80px rgba(0, 0, 0, 0.3);
      }
      .item-title {
        opacity: 1;
        top: -220px;
        transform: translateX(-50%) scale(1);
        animation: item-fly 1.5s infinite ease-in-out alternate;
      }
      .background-darkening-items::after {
        content: "";
        z-index: 3;
        width: 1000px;
        height: 1px;
        transform: rotate(-45deg);
        box-shadow: 0 0 80px 10px #fff;
        position: absolute;
        animation: shine 2.5s infinite;
      }
      animation: item-fly 1.5s infinite ease-in-out;
      @keyframes item-fly {
        0% {
          translate: 0 0;
        }
        50% {
          translate: 0 -15px;
        }
        100% {
          translate: 0 0;
        }
      }
    }

    &.scaleDown {
      transition: 0.3s;
      box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.7);
      cursor: pointer;

      &.note {
        box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.7);
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &.noScaleDown {
      z-index: 5;
    }
    @keyframes shine {
      0% {
        top: -20%;
        left: -300%;
      }
      60% {
        left: 100%;
        top: 100%;
      }
      100% {
        left: 100%;
        top: 100%;
      }
    }
  }
}
