* {
  box-sizing: border-box;
}
*::selection {
  background-color: transparent;
}
body {
  background-color: black;
  margin: 0;
  color: #fff;
  overflow: hidden;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  .playMusic {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    background-color: rgb(0, 102, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    span {
      font-size: 74px;
      transition: 0.2s;
    }
    &:hover {
      background-color: rgb(137, 184, 255);
    }
  }
  .office {
    position: relative;
    width: 100%;
    height: 100%;
    animation: zoom 3.2s;
    .office-inside {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      .background {
        top: -220px;
        position: absolute;
        width: 165%;
        height: 150vh;
        background-image: url(../images/floor.jpg);
        background-size: 35vw;
      }
      .chair {
        width: 25vw;
        min-width: 150px;
        position: absolute;
        top: 30vw;
        transition: 0.7s transform;
        &:hover {
          transform: translate(20px, 100px) rotate(-20deg);
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          box-shadow: 60px 20px 80px 11vw rgba(0, 0, 0, 0.644);
        }
        img {
          width: 100%;
          transform: rotate(180deg);
        }
        .secret-msg {
          position: absolute;
          text-align: center;
          font-size: 100%;
          top: 5%;
          left: 25%;
          width: 15%;
          height: 15%;
          background-color: rgb(37, 113, 255);
          transform: rotate(-10deg);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: 0.6s;
          &:hover {
            filter: brightness(1.3);
          }
        }
        .secret-on {
          transform: translate(50px, 450px) scale(0) rotate(360deg);
          &:hover {
            transition: 0.3s;
            transform: translate(50px, 50px) scale(3) rotate(20deg);
          }
        }
      }
    }
  }
  @keyframes zoom {
    0% {
      transform: scale(0.6);
    }
    50% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(1);
    }
  }
  &::after {
    content: "";
    left: -450px;
    top: -450px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 300px 300px 500px 400px rgba(255, 255, 255, 0.788);
    animation: light-change 3s infinite alternate;
  }

  @keyframes light-change {
    0% {
      box-shadow: 200px 200px 500px 300px rgba(255, 255, 255, 0.788);
    }
    100% {
      box-shadow: 450px 350px 500px 400px rgba(255, 255, 255, 0.788);
    }
  }
}

.background-darkening-floor {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.541),
    rgba(0, 0, 0, 0.801)
  );
}

// For all items on Table

.phone,
.note,
.book {
  .item-title {
    left: 50%;
    transform: translateX(-50%) scale(0.4);
    position: absolute;
    width: 100%;
    min-width: fit-content;
    padding: 20px 40px;
    top: -50px;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.6s;
    font-size: 600%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: #000;
    opacity: 0;
  }
  box-shadow: 200px 200px 400px rgba(0, 0, 0, 0);
  &.hover:hover {
    transform: scale(0.25) translate(20px, -30%) rotate(0deg);
    box-shadow: 200px 200px 80px rgba(0, 0, 0, 0.3);
    filter: brightness(1.2);
    z-index: 2;
    &.note,
    &.book {
      box-shadow: 200px 200px 80px rgba(0, 0, 0, 0.3);
    }
    .item-title {
      opacity: 1;
      top: -200px;
      transform: translateX(-50%) scale(1);
    }
    .background-darkening-items::after {
      content: "";
      z-index: 3;
      width: 1000px;
      height: 1px;
      transform: rotate(-45deg);
      box-shadow: 0 0 80px 10px #fff;
      position: absolute;
      animation: shine 2.5s infinite;
    }
  }

  &.scale {
    transition: 0.3s;
    box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;

    &.note {
      box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.7);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &.noScale {
    z-index: 5;
  }
  @keyframes shine {
    0% {
      top: -20%;
      left: -300%;
    }
    60% {
      left: 100%;
      top: 100%;
    }
    100% {
      left: 100%;
      top: 100%;
    }
  }
}

@media (max-width: 1500px) {
  .app {
    .office {
      .table {
        .monitor {
          .monitor-screen {
            height: 63%;
            transform: translate(-50%, -50%) perspective(400px) rotateX(-53deg);
          }
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  .app {
    .office {
      .office-inside {
        .table {
          .phone {
            &.scale {
              .phone-inside {
                .screen-content {
                  height: 95%;
                }
              }
            }
          }

          .speaker {
            &::before {
              border-radius: 8px;
              width: 50%;
              top: 36%;
              left: 20%;
              box-shadow: 20px -1px 10px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .speaker-left {
            &::before {
              box-shadow: 20px 5px 10px 10px rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .app {
    .office {
      .office-inside {
        .chair {
          .secret-msg {
            font-size: 50%;
          }
          &:hover {
            transform: translate(15px, 70px) rotate(-20deg);
          }
        }
        .table {
          animation: table-shadow-medium 3s infinite alternate;
          .monitor {
            margin-top: 40px;
            &::before {
              width: 220px;
              box-shadow: -60px 30px 45px 30px rgba(0, 0, 0, 0.744);
            }
            .monitor-screen {
              height: 85%;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-58deg);
            }
          }

          .mouse {
            &::before {
              box-shadow: 2px 2px 5px 7px rgba(0, 0, 0, 0.844);
            }
          }
          .speaker {
            left: 90%;
            &::before {
              border-radius: 5px;
              width: 50%;
              top: 36%;
              left: 20%;
              box-shadow: 15px -1px 5px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .speaker-left {
            left: 10%;
            transform: rotate(-15deg) translateX(-50%);
            &::before {
              box-shadow: 15px 3px 5px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .phone,
          .note,
          .book {
            &.scale {
              .phone-inside {
                .top-curve {
                  height: 10px;
                  .camera {
                    width: 4px;
                  }
                  .microphone {
                    height: 5px;
                    width: 40%;
                  }
                }
                .screen-content {
                  height: 90%;
                }
              }
              .note-inside {
                font-size: 0.8vw;
                i {
                  font-size: 20px;
                }
              }
            }
          }
          .phone {
            &.scale {
              border: 8px solid rgba(255, 255, 255, 0.733);
              border-radius: 25px;
              .phone-inside {
                color: rgba(255, 255, 255, 0);
                .screen-content {
                  padding: 5px;
                }
                .projects {
                  font-size: 10px;
                  margin: 0;
                }
                .project {
                  margin: 5px;
                  h1 {
                    font-size: 10px;
                  }
                  a,
                  p {
                    font-size: 6px;
                  }
                  a {
                    width: 6 55px;
                  }
                }
              }
            }
          }
          .book {
            &.scale {
              .book-inside {
                h1 {
                  font-size: 4vw;
                  margin: 0.5vw;
                }
                .skills-icons {
                  margin-top: 0;
                  padding: 0;
                  span {
                    height: 5vw;
                    i {
                      font-size: 4vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .app {
    &::after {
      left: 300px;
      top: -450px;
    }
    .office {
      .office-inside {
        .chair {
          .secret-msg {
            font-size: 40%;
          }
          .secret-on {
            &:hover {
              transform: translate(20px, 30px) scale(3) rotate(20deg);
            }
          }
        }
        .table {
          animation: table-shadow-mobile 3s infinite alternate;
          .monitor {
            &::before {
              width: 200px;
              box-shadow: -50px 30px 30px 30px rgba(0, 0, 0, 0.644);
            }
            .monitor-screen {
              height: 120% !important;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-68deg) !important ;
            }
            video {
              transform: rotateX(5deg);
            }
          }
          .keyboard {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
          }
          .mouse {
            &::before {
              box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.844);
            }
          }
          .speaker {
            &::before {
              border-radius: 5px;
              left: 5%;
              width: 40%;
              box-shadow: 30px -1px 5px 10px rgba(0, 0, 0, 0.7);
            }
            .sound-wave {
              .circle {
                top: 70%;
                height: 30px;
              }
            }
          }
          .speaker-left {
            &::before {
              top: 30%;
              left: 15%;
              box-shadow: 20px 7px 5px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .book {
            &.scale {
              .book-inside {
                h1 {
                  font-size: 3vw;
                }
                .skills-icons {
                  span {
                    height: 3.5vw;
                    i {
                      font-size: 3.4vw;
                    }
                  }
                }
              }
            }
          }
          .note {
            &.scale {
              .note-inside {
                font-size: 0.7vw;
                .note-item {
                  .copy {
                    font-size: 2vw;
                  }
                }
                .note-links {
                  a {
                    margin: 1.2vw;
                    i {
                      font-size: 2.5vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .app {
    &::after {
      left: 200px;
      top: -550px;
    }

    .playMusic {
      width: 40px;
      height: 40px;
      span {
        font-size: 50px;
      }
    }
    .office {
      .office-inside {
        .chair {
          width: 30vw;
          top: 50% !important;
          left: 5% !important;
        }
        .table {
          .monitor {
            .monitor-screen {
              height: 125% !important;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-70deg) !important ;
            }
            video {
              transform: scaleY(1.2);
            }
          }
          .phone,
          .note,
          .book {
            .item-title {
              font-size: 60px;
            }
            &:hover {
              .item-title {
                top: -150px;
              }
            }
          }
          .phone {
            &.noScale {
              transform: scale(0.6) translate(-80%, -80%) rotate(-90deg) !important;
            }
          }
          .note {
            &.noScale {
              transform: scale(0.6) translate(-80%, -78%) rotate(-90deg) !important;
            }
          }
          .book {
            &.noScale {
              transform: scale(0.6) translate(-80%, -78%) rotate(-90deg) !important;
            }
          }
          .book {
            &.scale {
              .book-inside {
                h1 {
                  font-size: 3vw;
                }
                .skills-icons {
                  span {
                    height: 2.3vw;
                    i {
                      font-size: 3vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (orientation: portrait) and (max-width: 1024px) and (min-width: 768px) {
  .app {
    &::after {
      left: 400px;
      top: -450px;
    }
  }
}
@media (orientation: portrait) {
  .app {
    .playMusic {
      transform: rotate(90deg);
      left: 20px;
      top: 20px;
    }
    .office {
      .office-inside {
        .chair {
          top: 50%;
          left: 20vw;
          transform: translate(20px, -50%) rotate(90deg);
          &:hover {
            transform: translate(-30px, -40%) rotate(70deg);
          }
        }
        .table {
          border-radius: 7px;
          width: 80vw;
          height: 40vw;
          top: 50%;
          transform: translate(10%, -70%) rotate(90deg);
          .background-darkening-table {
            border-radius: 7px;
          }
          .monitor {
            .monitor-screen {
              height: 80%;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-62deg);
              h1 {
                font-size: 20px;
              }
            }
          }
          .phone,
          .note,
          .book {
            &.hover:hover {
              box-shadow: 100px 100px 30px rgba(0, 0, 0, 0.3);
            }
            &.scale {
              box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
            }
          }
          .phone {
            &.noScale {
              top: 60%;
              transform: scale(0.8) translate(-55%, -60%) rotate(-90deg);
            }
          }
          .note,
          .book {
            &.noScale {
              top: 50%;
              transform: scale(0.8) translate(-55%, -60%) rotate(-90deg);
            }
          }
          .keyboard {
            left: 38%;
          }
          .mouse-pad {
            right: 32%;
          }
        }
      }
    }
  }
}
