* {
  box-sizing: border-box;
}
*::selection {
  background-color: transparent;
}
body {
  height: 100vh;
  background-color: black;
  margin: 0;
  color: #fff;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .playMusic {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    background-color: rgb(112, 2, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    span {
      font-size: 74px;
      transition: 0.7s;
    }
    &:hover {
      span {
        rotate: 360deg;
      }
      background-color: rgb(144, 59, 255);
      box-shadow: 0 0 10px #fff;
    }
  }
  .menu-button {
    position: fixed;
    width: 50px;
    text-align: center;
    border-radius: 3px;
    top: 20px;
    right: 20px;
    font-size: 40px;
    transition: 0.3s;
    z-index: 4;
    &.show {
      background-color: rgb(105, 0, 224);
    }
    i {
      transition: 0.3s;
      cursor: pointer;
    }
    .menu {
      width: 200px;
      color: #000;
      border-radius: 3px;
      position: absolute;
      margin-top: -5px;
      right: -300px;
      font-size: 20px;
      background-color: red;
      h3 {
        position: relative;
        text-align: center;
        margin: 15px 0;
        line-height: 50px;
        background-color: #fff;
        border-radius: 30px 5px 5px;
        right: 0;
        scale: 0.5;
        font-weight: 400;
        letter-spacing: 2px;
        transition: 0.8s;
        font-family: "lobster", sans-serif;
        cursor: default;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144);
        &.show {
          right: 300px;
          scale: 1;
        }
      }
      ul {
        margin: 0;
        list-style: none;
        padding-left: 0;

        .list-item {
          text-decoration: none;
          color: #000;
          position: relative;
          border-radius: 5px;
          width: 100%;
          display: flex;
          align-items: center;
          height: 40px;
          padding: 5px 10px;
          background-color: #fff;
          margin-bottom: 10px;
          font-weight: 500;
          font-size: 16px;
          right: 0;
          transition: 0.8s;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144);
          scale: 0.5;
          cursor: pointer;
          &.show {
            right: 300px;
            scale: 1;
            .icon-holder {
              rotate: 360deg;
              scale: 1;
            }
          }
          &:hover {
            transition: 0.2s;
            color: #fff;
            background-color: rgba(139, 37, 255, 0.486);
            .icon-holder {
              i {
                color: #fff;
              }
            }
          }
          .icon-holder {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            transition: 0.8s;
            scale: 0.2;
            margin-right: 5px;
            i {
              color: rgb(105, 0, 224);
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  &::after {
    content: "";
    left: -450px;
    top: -450px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 300px 300px 500px 400px rgba(255, 255, 255, 0.788);
    animation: light-change 3s infinite alternate;
  }
}
@media (orientation: landscape) {
  @keyframes light-change {
    0% {
      box-shadow: 200px 200px 500px 300px rgba(255, 255, 255, 0.788);
    }
    100% {
      box-shadow: 450px 350px 500px 400px rgba(255, 255, 255, 0.788);
    }
  }
}
@media (min-width: 2000px) {
  .app {
    .office {
      .table {
        .monitor {
          .monitor-screen {
            height: 48%;
            transform: translate(-50%, -50%) perspective(400px) rotateX(-33deg);
          }
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .app {
    .office {
      .table {
        .monitor {
          .monitor-screen {
            height: 63%;
            transform: translate(-50%, -50%) perspective(400px) rotateX(-53deg);
          }
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  .app {
    .office {
      .office-inside {
        .table {
          .phone {
            &.scale {
              .phone-inside {
                .screen-content {
                  height: 95%;
                }
              }
            }
          }

          .speaker {
            &::before {
              border-radius: 8px;
              width: 50%;
              top: 36%;
              left: 20%;
              box-shadow: 20px -1px 10px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .speaker-left {
            &::before {
              box-shadow: 20px 5px 10px 10px rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .app {
    .office {
      .office-inside {
        .chair {
          .secret-msg {
            font-size: 50%;
          }
          &:hover {
            transform: translate(15px, 70px) rotate(-20deg);
          }
        }
        .table {
          animation: table-shadow-medium 3s infinite alternate;
          .monitor {
            margin-top: 40px;
            &::before {
              width: 220px;
              box-shadow: -60px 30px 45px 30px rgba(0, 0, 0, 0.744);
            }
            .monitor-screen {
              height: 85%;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-58deg);
            }
          }

          .mouse {
            &::before {
              box-shadow: 2px 2px 5px 7px rgba(0, 0, 0, 0.844);
            }
          }
          .speaker {
            left: 90%;
            &::before {
              border-radius: 5px;
              width: 50%;
              top: 36%;
              left: 20%;
              box-shadow: 15px -1px 5px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .speaker-left {
            left: 10%;
            transform: rotate(-15deg) translateX(-50%);
            &::before {
              box-shadow: 15px 3px 5px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .phone,
          .note,
          .book {
            &.scale {
              .phone-inside {
                .top-curve {
                  height: 10px;
                  .camera {
                    width: 4px;
                  }
                  .microphone {
                    height: 5px;
                    width: 40%;
                  }
                }
                .screen-content {
                  height: 90%;
                }
              }
              .note-inside {
                font-size: 0.8vw;
                i {
                  font-size: 20px;
                }
              }
            }
          }
          .phone {
            &.scale {
              border: 8px solid rgba(255, 255, 255, 0.733);
              border-radius: 25px;
              .phone-inside {
                color: rgba(255, 255, 255, 0);
                .screen-content {
                  padding: 5px;
                }
                .projects {
                  font-size: 10px;
                  margin: 0;
                }
                .project {
                  margin: 5px;
                  h1 {
                    font-size: 10px;
                  }
                  a,
                  p {
                    font-size: 6px;
                  }
                  a {
                    width: 6 55px;
                  }
                }
              }
            }
          }
          .book {
            &.scale {
              .book-inside {
                h1 {
                  font-size: 4vw;
                  margin: 0.5vw;
                }
                .skills-icons {
                  margin-top: 0;
                  padding: 0;
                  span {
                    height: 5vw;
                    i {
                      font-size: 4vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .app {
    &::after {
      left: 300px;
      top: -450px;
    }
    .office {
      .office-inside {
        .chair {
          left: 13% !important;
          .secret-msg {
            font-size: 40%;
          }
          .secret-on {
            &:hover {
              transform: translate(20px, 30px) scale(3) rotate(20deg);
            }
          }
        }
        .table {
          box-shadow: 40px 30px 20px rgba(0, 0, 0, 0.61);
          animation: none;
          .monitor {
            &::before {
              width: 200px;
              box-shadow: -50px 30px 30px 30px rgba(0, 0, 0, 0.644);
            }
            .monitor-screen {
              height: 120% !important;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-68deg) !important ;
            }
            video {
              transform: rotateX(5deg);
            }
          }
          .keyboard {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
          }
          .mouse {
            &::before {
              box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.844);
            }
          }
          .speaker {
            &::before {
              border-radius: 5px;
              left: 5%;
              width: 40%;
              box-shadow: 30px -1px 5px 10px rgba(0, 0, 0, 0.7);
            }
            .sound-wave {
              .circle {
                top: 70%;
                height: 30px;
              }
            }
          }
          .speaker-left {
            &::before {
              top: 30%;
              left: 15%;
              box-shadow: 20px 7px 5px 10px rgba(0, 0, 0, 0.7);
            }
          }
          .book {
            &.scale {
              .book-inside {
                h1 {
                  font-size: 20px;
                }
                .skills-icons {
                  span {
                    height: 30px;
                    i {
                      font-size: 25px;
                    }
                  }
                }
                p {
                  font-size: 7px;
                }
              }
            }
          }
          .note {
            &.scale {
              .note-inside {
                font-size: 0.7vw;
                .note-item {
                  .copy {
                    font-size: 2vw;
                  }
                  h1 {
                    font-size: 15px;
                  }
                  p {
                    font-size: 5px;
                  }
                }
                .note-links {
                  a {
                    margin: 1.2vw;
                    i {
                      font-size: 2.5vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 560px) {
  .app {
    .office {
      .office-inside {
        .chair {
          left: 7% !important;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .app {
    &::after {
      left: 200px;
      top: -550px;
    }

    .playMusic {
      width: 40px;
      height: 40px;
      span {
        font-size: 50px;
      }
    }
    .office {
      .office-inside {
        .chair {
          width: 30vw;
          top: 50% !important;
          left: 0% !important;
        }
        .table {
          .monitor {
            .monitor-screen {
              height: 125% !important;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-70deg) !important ;
            }
            video {
              transform: scaleY(1.2);
            }
          }
          .phone,
          .note,
          .book {
            .item-title {
              font-size: 60px;
            }
            &:hover {
              .item-title {
                top: -150px;
              }
            }
          }
          .phone {
            &.noScale {
              transform: scale(0.6) translate(-80%, -83%) rotate(-90deg) !important;
            }
          }
          .note {
            &.noScale {
              transform: scale(0.6) translate(-80%, -80%) rotate(-90deg) !important;
            }
          }
          .book {
            &.noScale {
              transform: scale(0.6) translate(-80%, -82%) rotate(-90deg) !important;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .app {
    .office {
      .office-inside {
        .chair {
          left: -5% !important;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .app {
    .office {
      .office-inside {
        .chair {
          left: -12% !important;
        }
      }
    }
  }
}
@media (orientation: portrait) and (max-width: 1024px) and (min-width: 768px) {
  .app {
    &::after {
      left: 400px;
      top: -450px;
    }
  }
}
@media (orientation: portrait) {
  .app {
    .playMusic {
      left: 20px;
      top: 20px;
    }
    .menu-button {
      i {
        color: black;
      }
      &.show {
        i {
          color: #fff;
        }
      }
    }
    .office {
      .office-inside {
        .chair {
          top: 50%;
          left: 15vw;
          transform: translate(20px, -50%) rotate(90deg);
          &:hover {
            transform: translate(-30px, -40%) rotate(70deg);
          }
        }
        .table {
          margin-right: 50px;
          border-radius: 7px;
          width: 80vw;
          height: 40vw;
          top: 50%;
          transform: translate(10%, -70%) rotate(90deg);
          .background-darkening-table {
            border-radius: 7px;
          }
          .monitor {
            .monitor-screen {
              height: 80%;
              transform: translate(-50%, -50%) perspective(400px)
                rotateX(-62deg);
              h1 {
                font-size: 20px;
              }
            }
          }
          .phone,
          .note,
          .book {
            &.hover:hover {
              box-shadow: 100px 100px 30px rgba(0, 0, 0, 0.3);
            }
            &.scale {
              box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
            }
          }
          .phone {
            &.noScale {
              top: 60%;
              transform: scale(0.8) translate(-55%, -60%) rotate(-90deg);
            }
          }
          .note,
          .book {
            &.noScale {
              top: 50%;
              transform: scale(0.8) translate(-55%, -60%) rotate(-90deg);
            }
          }
          .keyboard {
            left: 38%;
          }
          .mouse-pad {
            right: 32%;
          }
        }
      }
    }
  }
}
