.dark {
  &::after {
    opacity: 0.25;
  }
  .office {
    .office-inside {
      .chair {
        filter: brightness(0.6);
      }
      .background-darkening-floor {
        background: linear-gradient(
          135deg,
          rgba(39, 39, 39, 0.637),
          rgb(0, 0, 0)
        );
      }
      .table {
        .background-darkening-table {
          background: linear-gradient(
            135deg,
            rgba(80, 80, 80, 0.445),
            rgba(0, 0, 0, 0.911)
          );
        }
        .monitor {
          &.on::after {
            content: "";
            position: absolute;
            left: 8%;
            top: 50%;
            width: 80%;
            z-index: 10;
            transition: 0.5s;
            box-shadow: 0 0 100px 20px rgba(255, 255, 255, 0.822);
          }
          .monitor-screen {
            filter: brightness(1.4);
          }
          .monitorImage {
            filter: brightness(0.6);
          }
        }
        .monitor.monitorImage,
        .speaker,
        .keyboard,
        .mouse-pad,
        .phone.scale,
        .note.scale,
        .book.scale {
          filter: brightness(0.7);
          &:hover {
            filter: brightness(0.9);
          }
        }
        .phone {
          border: 14px solid rgb(207, 207, 207);
          .phone-inside {
            * {
              color: rgba(255, 255, 255, 0.644);
            }
            .background-darkening-items {
              background-color: rgba(0, 0, 0, 0.76);
            }
            .top-curve {
              background-color: rgb(207, 207, 207);
            }
            .screen {
              .screen-content {
                .project-section-title {
                  border: 1px solid rgba(255, 255, 255, 0.5);
                  background-color: rgba(24, 0, 51, 0.664);
                }
                .with-mentor-title {
                  border: 1px solid rgba(255, 255, 255, 0.5);
                  background-color: rgba(0, 23, 58, 0.521);
                }
              }
              .project {
                border: 2px solid rgba(255, 255, 255, 0.5);
                .bottom {
                  background-color: rgba(8, 8, 8, 0.753);
                  .buttons {
                    a {
                      border: 2px solid rgba(255, 255, 255, 0.404);
                      background-color: transparent;
                      &:hover {
                        color: rgba(255, 255, 255, 0.788);
                        border: 2px solid rgba(255, 255, 255, 0.788);
                      }
                    }
                  }
                  p {
                    color: rgba(255, 255, 255, 0.562);
                    font-weight: 500;
                  }
                }
              }
            }
          }
          .with-mentor {
            .bottom {
              h1 {
                .buttons {
                  a {
                    background-color: rgb(164, 55, 207);
                    &:hover {
                      border: 2px rgb(164, 55, 207) solid;
                      color: rgb(164, 55, 207);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
