.speaker {
  width: 10%;
  min-width: 45px;
  position: absolute;
  top: 10px;
  left: 80%;
  z-index: 2;
  transform: translateX(-50%) rotate(10deg);
  cursor: pointer;
  &:hover {
    filter: brightness(1.3);
  }
  &::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 20px;
    z-index: -1;
    border-radius: 15px;
    width: 60%;
    height: 50%;
    box-shadow: 30px -3px 15px 10px rgba(0, 0, 0, 0.7);
  }
  img {
    width: 100%;
  }
  .sound-wave {
    width: 100%;
    height: 120%;
    position: absolute;
    top: -20px;
    .circle {
      position: absolute;
      width: 50%;
      height: 60px;
      border-radius: 50%;
      border: 4px solid #fff;
      bottom: 0;
      top: 60%;
      left: 50%;
      opacity: 0;
      transform: translateX(-50%) scaleY(0.4);
      animation: sound-wave 1s infinite;
      cursor: default;
    }
    .circle2 {
      animation: sound-wave 1s 0.5s infinite;
    }
  }
}
.speaker-left {
  transform: rotate(-15deg);
  left: 15%;
  &::before {
    content: "";
    left: 15%;
    width: 60%;
    box-shadow: 25px 5px 8px 8px rgba(0, 0, 0, 0.7);
  }
}
@keyframes sound-wave {
  0% {
    transform: translateX(-50%) scaleY(0.4);
    opacity: 0;
  }
  30% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(-50%) translateY(100%) scaleY(0.2) scale(1.5);
    opacity: 0;
  }
}
