.keyboard {
  position: absolute;
  left: 30vw;
  bottom: 10%;
  width: 20vw;
  height: 6vw;
  min-width: 150px;
  min-height: 50px;
  transform: translateX(-50%);
  z-index: 1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
  }
  img {
    width: 100%;
    height: 100%;
  }
  .space {
    position: absolute;
    top: 77%;
    left: 20%;
    width: 22%;
    height: 10%;
    border-radius: 3px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.199);
    }
  }
  .arrow {
    position: absolute;
    top: 77%;
    left: 66%;
    width: 4%;
    height: 11%;
    border-radius: 3px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.199);
    }
  }
  .right {
    left: 74%;
  }
}
