$table-border-radius: 15px;
.table {
  width: 70%;
  height: 37vw;
  min-width: 550px;
  min-height: 270px;
  border-radius: $table-border-radius;
  margin-top: 50px;
  background-image: url(../../images/table-texture.jpg);
  background-size: cover;
  position: relative;
  transform: scale(0.9);
  animation: table-shadow 3s infinite alternate;

  @keyframes table-shadow {
    0% {
      box-shadow: 80px 80px 50px rgba(0, 0, 0, 0.61);
    }
    100% {
      box-shadow: 80px 80px 60px rgba(0, 0, 0, 0.74);
    }
  }
  @keyframes table-shadow-medium {
    0% {
      box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.61);
    }
    100% {
      box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.658);
    }
  }
  .background-darkening-table {
    position: absolute;
    border-radius: $table-border-radius;
    width: 100%;
    height: 100%;
    transition: 1s;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.425),
      rgba(0, 0, 0, 0.678)
    );
  }
  .my-name-out {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-family: lobster, sans-serif;
    z-index: 5;
    .my-name-letter {
      font-size: 60px;
      font-size: 5cqw;
      transition: 0.5s;
      transform: scale(0) translateY(-40px) rotate(-75deg);
      letter-spacing: 2px;
      opacity: 0;
      transform-origin: left;
      &:hover {
        scale: 1.3;
        cursor: default;
      }
      &.hidden {
        visibility: hidden;
        letter-spacing: 0;
        cursor: default;
      }
    }
  }
  .job-title {
    position: absolute;
    font-size: 20px;
    font-size: 1.5cqw;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 7;
    cursor: default;
    animation: job-title-show-table 4s 3s forwards;
    @keyframes job-title-show-table {
      0% {
        translate: 0 -30px;
        opacity: 0;
      }
      30% {
        translate: 0 0;
        opacity: 1;
      }
      80% {
        translate: 0 0;
        opacity: 1;
      }
      90% {
        opacity: 0;
      }
      100% {
        display: none;
      }
    }
  }
  .monitor {
    width: 40vw;
    min-width: 300px;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);

    .monitor-screen {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%) perspective(400px) rotateX(-45deg);
      width: 80%;
      height: 55%;
      transition: 0.4s;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;
      background-color: #000;
      h1 {
        font-family: "lobster", sans-serif;
        position: absolute;
        width: 200px;
        text-align: center;
        left: -25%;
        translate: -50%;
        letter-spacing: -20px;
        animation: screen-name-move 4s 3.5s;
        @keyframes screen-name-move {
          0% {
            left: -25%;
            letter-spacing: -20px;
          }
          30% {
            left: 50%;
            letter-spacing: 0;
          }
          70% {
            left: 50%;
            letter-spacing: 0;
          }
          100% {
            left: 150%;
            letter-spacing: -20px;
          }
        }
      }
      video {
        width: 100%;
        z-index: 2;
        transform: rotateX(20deg);
        animation: video-start 3s;
      }
      @keyframes video-start {
        0% {
          filter: brightness(0);
        }
        100% {
          filter: brightness(1);
        }
      }
      img {
        width: 100%;
        height: 98%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      width: 50%;
      box-shadow: -50px 30px 80px 80px rgba(0, 0, 0, 0.644);
    }
    .monitorImage {
      width: 100%;
      clip-path: polygon(
        2% 13%,
        99% 13%,
        84% 65%,
        60% 65%,
        61% 83%,
        39% 83%,
        40% 65%,
        15% 65%
      );
      cursor: pointer;
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
  .keyboard {
    position: relative;
    width: 20vw;
    min-width: 150px;
    height: 6vw;
    min-height: 50px;
    position: absolute;
    bottom: 10%;
    left: 30vw;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    &:hover {
      filter: brightness(1.2);
    }
    img {
      width: 100%;
      height: 100%;
    }
    .space {
      position: absolute;
      top: 77%;
      left: 20%;
      width: 22%;
      height: 10%;
      border-radius: 3px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.199);
      }
    }
    .arrow {
      position: absolute;
      top: 77%;
      left: 66%;
      width: 4%;
      height: 11%;
      border-radius: 3px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.199);
      }
    }
    .right {
      left: 74%;
    }
  }
  .mouse-pad {
    width: 10vw;
    min-width: 70px;
    position: absolute;
    bottom: 7%;
    right: 17vw;

    img {
      width: 100%;
    }
    .mouse {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4vw;
      min-width: 30px;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 33%;
        z-index: -1;
        border-radius: 20px;
        width: 40%;
        height: 60%;
        box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.644);
      }
      img {
        width: 160%;
      }
      .left-click {
        position: absolute;
        top: 11%;
        left: 20%;
        width: 22%;
        height: 40%;
        border-radius: 60% 0 0 0;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.199);
        }
      }
    }
  }
  .speaker {
    width: 10%;
    min-width: 45px;
    position: absolute;
    top: 10px;
    left: 80%;
    z-index: 2;
    transform: translateX(-50%) rotate(10deg);
    cursor: pointer;
    &:hover {
      filter: brightness(1.3);
    }
    &::before {
      content: "";
      position: absolute;
      top: 40%;
      left: 20px;
      z-index: -1;
      border-radius: 15px;
      width: 60%;
      height: 50%;
      box-shadow: 30px -3px 15px 10px rgba(0, 0, 0, 0.7);
    }
    img {
      width: 100%;
    }
    .sound-wave {
      width: 100%;
      height: 120%;
      position: absolute;
      top: -20px;
      .circle {
        position: absolute;
        width: 50%;
        height: 60px;
        border-radius: 50%;
        border: 4px solid #fff;
        bottom: 0;
        top: 60%;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%) scaleY(0.4);
        animation: sound-wave 1s infinite;
        cursor: default;
      }
      .circle2 {
        animation: sound-wave 1s 0.5s infinite;
      }
    }
  }
  .speaker-left {
    transform: rotate(-15deg);
    left: 15%;
    &::before {
      content: "";
      left: 15%;
      width: 60%;
      box-shadow: 25px 5px 8px 8px rgba(0, 0, 0, 0.7);
    }
  }
}
@keyframes sound-wave {
  0% {
    transform: translateX(-50%) scaleY(0.4);
    opacity: 0;
  }
  30% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(-50%) translateY(100%) scaleY(0.2) scale(1.5);
    opacity: 0;
  }
}
