@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.book {
  position: absolute;
  transform: scale(0.2);
  width: 28vw;
  min-height: 20px;
  aspect-ratio: 1/1.5;
  border-radius: 5px;
  background: linear-gradient(140deg, rgb(108, 78, 156), rgb(32, 15, 59));
  transition: 1s;
  z-index: 2;
  color: $white;
  border-bottom: solid 10px rgb(63, 63, 63);
  border-right: solid 10px rgb(122, 122, 122);
  .book-inside {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .background-darkening-items {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    h1 {
      font-family: "lobster", sans-serif;
      font-weight: 300;
      margin: 5px;
      font-size: 5rem;
      margin-top: 20px;
    }
    hr {
      width: 80%;
      opacity: 0.4;
    }
    .skills-list {
      @include flexCenter;
      width: 100%;
      flex-wrap: wrap;
      padding-top: 30px;
      gap: 20px;
      span {
        @include flexCenter;
        position: relative;
        height: 100px;
        aspect-ratio: 1/1;
        margin-bottom: 20px;
        transition: 0.6s;
        border: 2px solid transparent;
        border-radius: 5px;
        &:hover {
          transition: 0.2s;
          border: 2px solid $white;
          p {
            scale: 1;
            top: -50px;
            transition: 0.2s;
            opacity: 1;
          }
        }
        i {
          font-size: 70px;
        }
        img {
          width: 80%;
        }
        p {
          position: absolute;
          scale: 0.7 0;
          top: -30px;
          font-size: 18px;
          opacity: 0;
          transition: 0.6s;
        }
      }
    }
  }
}

.book {
  &.scaleDown {
    top: -5%;
    left: 14%;
    h1 {
      font-size: 5vw;
    }
    .skills-list {
      span {
        height: 6.2vw;
        margin-bottom: 1vw;
        i {
          font-size: 4vw;
        }
      }
    }
  }
  &.noScaleDown {
    top: 43vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
