.book {
  position: absolute;
  transform: scale(0.20);
  width: 28vw;
  min-height: 20px;
  aspect-ratio: 1/1.5;
  border-radius: 5px;
  background: linear-gradient(140deg, rgb(108, 78, 156), rgb(32, 15, 59));
  transition: 1s;
  z-index: 2;
  color: rgb(255, 255, 255);
  border-bottom: solid 10px rgb(63, 63, 63);
  border-right: solid 10px rgb(122, 122, 122);
.book-inside {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  cursor: default;
  .background-darkening-items {
    overflow: hidden;
    position: absolute;
    border-radius: 30px;
    width: 100%;
    height: 100%;
  }
  h1 {
    font-family: "lobster", sans-serif;
    font-weight: 400;
    margin: 20px;
    font-size: 5rem;
  }
  hr {
    width: 80%;
    opacity: 0.4;
  }
  .skills-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 35px;
    overflow: hidden;
    gap: 20px;
    span {
      position: relative;
      height: 100px;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      transition: 0.6s;
      border: 2px solid transparent;
      border-radius: 5px;
      &:hover {
        transition: 0.2s;
        border: 2px solid #fff;
        p {
          transition: 0.2s;
          opacity: 1;
        }
      }
      i {
        font-size: 70px;
      }
      p {
        position: absolute;
        top: -50px;
        font-size: 18px;
        letter-spacing: 2px;
        opacity: 0;
        transition: 0.6s;
      }
    }
  }
  .description {
    position: absolute;
    padding: 0 30px;
    bottom: 10px;
    opacity: 0.7;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }
}
}

p::selection {
  background-color: #fff;
}
.table {
  .book {
    &.scale {
      top: -5%;
      left: 14%;
      h1 {
        font-size: 5vw;

      }
      .skills-icons {
        span {
          height: 6.2vw;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1vw;
          i {
            font-size: 4vw;
          }
        }
      }
      .description {
        font-size: 1vw;
        opacity: 0.5;
      }
    }
    &.noScale {
      margin-top: 20px;
      top: 40vh;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 450px;
    }
  }
}
