.mouse-pad {
  width: 10vw;
  min-width: 70px;
  position: absolute;
  bottom: 7%;
  right: 17vw;

  img {
    width: 100%;
  }
  .mouse {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4vw;
    min-width: 30px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      top: 20%;
      left: 33%;
      z-index: -1;
      border-radius: 20px;
      width: 40%;
      height: 60%;
      box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.644);
    }
    img {
      width: 160%;
    }
    .left-click {
      position: absolute;
      top: 11%;
      left: 20%;
      width: 22%;
      height: 40%;
      border-radius: 60% 0 0 0;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.199);
      }
    }
  }
}
